# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

*.venv
venv
**/*.ve

__pycache__

npm-debug.log


# Serverless directories
.serverless

bin
certifi*
chardet*
idna*
node_modules
requests*
!requests.py
urllib*

.DS_Store
pyvenv.cfg

